body{
    background-color: rgb(207, 203, 243);
}
p{
    background: white ;
    color: blue;
    font-size: larger 45px;
}
h1{
    font-size: 50px;
    color: red;
}
h4{
    font-size: 30px;
    color: green;
}
h5{
    font-size: 20px;
    color: brown;
}
h3{
    font-size: 20px;
    color: green;
}